.peak-page-header-heroimg {
  margin-top: 0;
  height: 71vw;
  @include for-tablet-landscape-up {
    height: 38vw;
  }
}
.post-hero img,
.peak-page-header-heroimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.peak-headline {
  text-align: center;
  margin: 2em 1em;
   @include for-tablet-landscape-up {
     margin: 2em auto;
     max-width: 20em;
   }
}
.page .entry-content .peak-headline:first-child {
  margin-top: 7rem;
  @include for-tablet-landscape-up {
    margin-top: 9rem;
  }
}