.site-footer {
  font-size: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  padding: 4rem .5rem 5rem .5rem;
  background-image: url('./img/footer-bg-mobile.svg');
  background-size: 100% auto;
  background-position: left bottom;
  background-repeat: no-repeat;
  @include for-tablet-landscape-up {
    padding-bottom: 7rem;
    background-image: url('./img/footer-bg-desktop.svg');
  }
}
.site-footer a {
  text-decoration: none;
  text-transform: uppercase;
}
.site-footer > div {
  flex-basis: calc(50% - 1rem);
  flex-shrink: 0;
  margin: 0 .5rem;
  @include for-tablet-landscape-up {
    flex-basis: calc(25% - 1rem);
  }
}
.site-footer-menu {
  display: none;
  @include for-tablet-landscape-up {
    display: block;
  }
}
.site-footer-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
