body.single-post {
  background-color: $color-font;
  color: $color-bg;
  padding-top: 6rem;
  & .peak-logo-svg-letters {
    fill: $color-font;
  }
  & .peak-logo-svg circle {
    fill:$color-bg;
  }
  & .ui-hamburger line {
    stroke: $color-bg;
  }
  & .main-navigation a {
    color: $color-bg;
  }
  & #site-navigation {
    @include for-tablet-landscape-up {
      background-color: #000;
    }
  }
  & .post-hero {
    margin: 3rem auto;
    width: calc(100% - 2rem);
    max-width: 36rem;
    height: 50vh;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  & article {
    max-width: 38rem;
    margin: 0 auto;
    padding: 0 1rem;
  }
  & .entry-title {
    text-align: center;
    line-height: 1.1;
  }
  & .entry-footer {
    display: none;
  }
  & .entry-meta {
    text-align: center;
    line-height: 1;
    margin: 3rem auto;
  }
  & .posted-on {
    font-size: .7rem;
    display: block;
    & a {
      pointer-events: none;
      text-decoration: none;
    }
  }
  & .byline {
    font-size: 1.2rem;
    display: block;
    & a {
      pointer-events: none;
      text-decoration: none;
    }
  }
}
